name: deploy
on:
  push:
    branches:
      - 'master'
jobs:
  deploy:
    permissions:
      pages: write
      id-token: write
    uses: binki/binki-action-publish-create-react-app-to-pages/.github/workflows/workflow.yml@2
